process {
    withName: 'QCClean|BWAAlign|AddReadGroups|IndexReference|Dedup|MergeBams|Dedup2|HaplotypeCaller|ConsolidateGenotypes|RefineFilter|GenotypeInterval|ConcatVCFs|CompareCallers|RefineFilter' {
        container = '/scratch/ulg/GENERA/mharmel/IHEM_snp/gatk-snp-calling/images/GATK.sif'
    }

    withName:HaplotypeCallerFreeBayes {
        container = '/scratch/ulg/GENERA/mharmel/IHEM_snp/gatk-snp-calling/images/freebayes_latest.sif'
    }
}
singularity.enabled = true
singularity.cacheDir = projectDir
singularity.autoMounts = false
singularity.runOptions = '-B /scratch/ulg/GENERA/mharmel/IHEM_snp/gatk-snp-calling -B /scratch/users/m/h/mharmel/IHEM_snp/gatk-snp-calling'
