process {
    withName: 'QCClean|ReadAlign|AddReadGroups|IndexReference|Dedup|MergeBams|Dedup2|HaplotypeCaller|ConsolidateGenotypes|RefineFilter|ConcatVCFs|CompareCallers|IntersectRunVCFs|RefineFilter' {
        container = '/scratch/ulg/GENERA/mharmel/IHEM_snp/gatk-snp-calling/images/GATK.sif'
    }
    //need the tmpscratch to import in a good part of tmp
    withName:GenotypeInterval{
        container = '/scratch/ulg/GENERA/mharmel/IHEM_snp/gatk-snp-calling/images/GATK.sif'
        scratch = '/tmpscratch'
    }
    withName:HaplotypeCallerFreeBayes {
        container = '/scratch/ulg/GENERA/mharmel/IHEM_snp/gatk-snp-calling/images/freebayes.sif'
    }
}
singularity.enabled = true
singularity.cacheDir = projectDir
singularity.autoMounts = false
singularity.runOptions = '-B /scratch/ulg/GENERA/mharmel/IHEM_snp/gatk-snp-calling -B /scratch/users/m/h/mharmel/IHEM_snp/gatk-snp-calling -B /tmpscratch'
//process.scratch = '/tmpscratch'



